* {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

:root {
  /* unocss */
  --my-color-background: #ffffff;
  --my-color-primary: #1b5aff;
  --my-color-on-primary: #fff;
  --my-color-surface: #f9fbf9;
  --my-color-divider: #d0cece;
  --my-color-success: #67c23a;
  --my-color-error: #ff1212;
  --my-color-text: #000000;
  --my-color-secondary-text: #a5a5a5;
  --my-color-disabled: #75acff;
  --my-color-on-disabled: #ffffff;
  --my-color-input-bg: #f2faff;
  --my-color-input-border: #1b5aff;
  --my-color-stepper-inactive: #dde0e7;
  --my-color-stepper-bg: #85a7ff;
  --my-color-stepper-border: #2a4cfe;
}
